@model IEnumerable<COP4710.Models.DispatchModel>
@{
    ViewBag.Title = "Dispatch Forms";
    ViewBag.PageTitle = "Dispatch Forms";
}
<p>
<a href="@Url.Action("Create")" class="Submit">New Form</a>
</p>
<table>
    <tr>
    <th>
            Create User
        </th>
        
        <th>
            Create Date
        </th>
        <th>
            Unit
        </th>
        <th>
            County
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.CreateUser.FirstName + " " + item.CreateUser.LastName)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
